doctype html
html
  head
    title Hello, Jade!
  body
    h1 Hello, Jade!
doctype html
html
  head
    title Hello, Jade!
  body
    h1 Hello, Jade!
doctype html
html
  head
    title Hello, Jade!
  body
    h1 Hello, Jade!
doctype html
html
  head
    title Hello, Jade!
  body
    h1 Hello, Jade!
doctype html
html
  head
    title Hello, Jade!
  body
    h1 Hello, Jade!
